/* Index Page */

html,
body {
  /* use flexbox use entire height */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.brand-large {
  display: inline-block;
  /* background-color: white; */
  padding: 0 20px 0 20px;
  margin-top: -20px;
}

.main {
  /* fill all the space */
  flex: 1;
}
.header-top {
  background-color: #c9c5c7;
}
#header-top-phone {
  color: white;
}
.metal-background {
  position: absolute;
}
.active {
  color: #d62d1b;
}
.nav-link:hover {
  color: #d62d1b;
}
/* .nav-item {
  position: relative;
}

.nav-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  bottom: 0;
  z-index: -1;
  background-color: #b82111;
  transition: width ease 0.3s;
}
.nav-item:hover .nav-background {
  width: 100%;
} */
.caro-message {
  position: relative;
  top: -60px;
  left: -300px;
  color: #f2f2f2;
}

.btn-custom {
  background-color: #d62d1b;
  color: white;
  border-radius: 50px;
  transition: all 0.35s;
}
.btn-custom:hover {
  background-color: #b82111;
  color: white;
}
/* https://www.w3schools.com/css/css3_transitions.asp */
.card-overlay-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all ease 0.4s;
}
.card:hover .card-overlay-text {
  padding-bottom: 70px;
  opacity: 1;
}

.card-img-overlay {
  cursor: pointer;
}
.card-img-overlay .card-title {
  z-index: 1;
  color: white;
  text-shadow: #333333 1px 1px 3px;
}

.metal {
  background: linear-gradient(
    #cccccc,
    #f2f2f2
  ); /* create a gradient background */
  box-shadow: 0 0 10px #666666; /* add a shadow effect */
  padding: 20px; /* add some padding */
  color: #333333; /* set the text color */
}

.image-ani-container {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.image-ani {
  position: absolute;
  left: -200px;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 8s;
  transform: rotateY(0deg);
}
/* https://www.demo2s.com/html-css/css-animation-to-move-image-from-left-to-right-and-back.html */
/* #image-ani-1 {
} */
#image-ani-2 {
  animation-delay: 3s;
}
#image-ani-3 {
  animation-delay: 5s;
}

@keyframes run {
  0% {
    left: -200px;
    /* opacity: 0; */
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}

/* Footer */
.footer-background {
  background-color: #c9c5c7;
}

@media (max-width: 991px) {
  .footerLinks {
    padding-left: 200px;
  }
}
@media (max-width: 615px) {
  .footerLinks {
    padding-left: 100px;
  }
}
@media (max-width: 450px) {
  .footerLinks {
    padding-left: 20px;
  }
}

/* Index Page-end */

/* About Page */

/* About Page-end */

/* Products Page */

/* Products Page-end */

/* Contact Page */

/* Contact Page-end */

/* Services Page */

/* Services Page-end */

/* Gallery Page */

/* Gallery Page-end */
