/* header */
.header-top {
  background-color: #c9c5c7;
}
#header-top-phone {
  color: white;
}
.metal-background {
  position: absolute;
}
/* .navbar-nav .nav-link.active {
  color: #d62d1b;
}
.nav-link:hover {
  color: #c9c5c7;
  text-shadow: #d62d1b 0 0 3px;
} */
.nav-link {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #d62d1b);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms;
}
.nav-link:hover {
  background-size: 100% 3px;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  background: linear-gradient(to right, white, #d62d1b);
  background-size: 100% 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
}
/* .nav-item {
  position: relative;
}

.nav-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  bottom: 0;
  z-index: -1;
  background-color: #b82111;
  transition: width ease 0.3s;
}
.nav-item:hover .nav-background {
  width: 100%;
} */
/* end of header */

/* Footer */
.footer-background {
  background-color: #c9c5c7;
}

@media (max-width: 991px) {
  .footerLinks {
    padding-left: 200px;
  }
}
@media (max-width: 615px) {
  .footerLinks {
    padding-left: 100px;
  }
}
@media (max-width: 450px) {
  .footerLinks {
    padding-left: 20px;
  }
}

/* end of footer */

/* Index Page */

html,
body {
  /* use flexbox use entire height */
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.active {
  color: blue;
}
.brand-large {
  display: inline-block;
  /* background-color: white; */
  padding: 0 0 0 30px;
  /* margin-top: -px; */
}

.main {
  /* fill all the space */
  flex: 1;
}

.caro-message {
  position: relative;
  top: -60px;
  left: -300px;
  color: #f2f2f2;
}

.btn-custom {
  background-color: #d62d1b;
  color: white;
  border-radius: 50px;
  transition: all 0.35s;
}
.btn-custom:hover {
  background-color: #b82111;
  color: white;
}
/* https://www.w3schools.com/css/css3_transitions.asp */
.card-overlay-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all ease 0.4s;
}
.card:hover .card-overlay-text {
  padding-bottom: 70px;
  opacity: 1;
}

.card-img-overlay {
  cursor: pointer;
}
.card-img-overlay .card-title {
  z-index: 1;
  color: white;
  text-shadow: #333333 1px 1px 3px;
}

.metal {
  background: linear-gradient(
    #cccccc,
    #f2f2f2
  ); /* create a gradient background */
  box-shadow: 0 0 10px #666666; /* add a shadow effect */
  padding: 20px; /* add some padding */
  color: #333333; /* set the text color */
}

.image-ani-container {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.image-ani {
  position: absolute;
  left: -200px;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 8s;
  transform: rotateY(0deg);
}
/* https://www.demo2s.com/html-css/css-animation-to-move-image-from-left-to-right-and-back.html */
/* #image-ani-1 {
} */
#image-ani-2 {
  animation-delay: 3s;
}
#image-ani-3 {
  animation-delay: 5s;
}

@keyframes run {
  0% {
    left: -200px;
    /* opacity: 0; */
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}

/* end of index page */

/* Index Page-end */

/* About Page */

/* About Page-end */

/* Products Page */

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

h3 {
  text-align: center;
  padding-top: 30px;
}

.search-container {
	width: 90%;
  margin: auto;
  margin-top: 5%;
}

.search-container {
	width: 500px;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.search-container input[type=text] {
	padding: 10px;
	border: none;
	width: 70%;
	font-size: 17px;
	margin-right: 10px;
}

.search-container button {
	background-color: #d62d1b;
	color: white;
	padding: 10px;
	border: none;
	cursor: pointer;
	width: 30%;
  font-size: 17px;
  border-radius: 2px;
}

.search-container button:hover {
  background-color: #b82111;
  color: white;
}

.filter-container {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.filter-container select {
	padding: 10px;
	border: none;
  width: 15%;
	font-size: 17px;
	margin-right: 10px;
}

.product-card {
	border: 1px solid #ccc;
	padding: 50px;
	margin: 50px;
	width: 100%;
	height: 500px;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
  border-radius: 5px;
  transition: box-shadow 0.1s, transform 0.1s;
}

.product-card img {
	max-width: 100%;
	max-height: 200px;
	margin-bottom: 30px;
  
}
.product-card img {
display: block;
margin: 0 auto;
}

.product-card h3 {
	font-size: 20px;
	margin-bottom: 10px;
}

.product-card p {
	font-size: 16px;
	margin-bottom: 10px;
}

.product-card button {
	background-color: #d62d1b;
	color: rgb(255, 255, 255);
	padding: 10px;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 17px;
	position: absolute;
	bottom: 0;
	left: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.product-card button:hover {
  background-color: #b82111;
  color: white;
}



.product-card {
	display: inline-block;
	padding: 10px;
	box-sizing: border-box;
	width: 25%;
	vertical-align: top;
}


/* Styles for the tilt block */


.product-card:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}


.counter-btn {
  background-color: #d62d1b;
  color: rgb(255, 255, 255);
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}

.counter-btn:hover {
  background-color: #b82111;
  color: white;
}

.counter-input {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0 10px;
  text-align: center;
  font-size: 20px;
  width: 50px;
  border-radius: 5px;
}

/* Products Page-end */

/* Contact Page */

/* Contact Page-end */

/* Services Page */

/* Services Page-end */

/* Gallery Page */

/* Gallery Page-end */
