
/* Index Page */

html, body {
	/* use flexbox use entire height */
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.main {
	/* fill all the space */
	flex: 1;
}
.header-top {
	background-color: #646263;
}
#header-top-phone {
	color: white;
}

/* Footer */
.footer-background {
	background-color: #C9C5C7;
}

 @media (max-width: 991px) {
	.footerLinks{
		padding-left: 200px;
	}
  }
  @media (max-width: 615px) {
	.footerLinks{
		padding-left: 100px;
	}
  }
  @media (max-width: 450px) {
	.footerLinks{
		padding-left: 20px;
	}
  } 
/* Index Page-end */

/* About Page */

/* About Page-end */

/* Products Page */

/* Products Page-end */

/* Contact Page */

/* Contact Page-end */

/* Services Page */

/* Services Page-end */

/* Gallery Page */

/* Gallery Page-end */
