@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@font-face {
  font-family: Eras;
  src: url("../fonts/eras-book.otf") format("opentype");
}
@font-face {
  font-family: Eras;
  font-weight: bold;
  src: url("../fonts/eras-bold.otf") format("opentype");
}

* {
  box-sizing: border-box;
}

html,
body {
  /* use flexbox use entire height */
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: #c9c5c748; */
}
/* header */

.icon {
  width: 100px;
  background-color: red;
}

.header-top {
  color: white;
  background-color: #c9c5c7;
}
.header-top a {
  color: white;
  text-decoration: none;
}
.header-top i {
  font-size: 1.2rem;
  padding: 5px;
}
.header-top a:hover i {
  text-shadow: #d62d1b 0 0 5px;
}

.metal-background {
  position: absolute;
}
/* https://css-tricks.com/css-link-hover-effects/ */
.nav-link {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #d62d1b);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms;
}
.nav-link:hover {
  background-size: 100% 3px;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  background: linear-gradient(to right, white, #d62d1b);
  background-size: 100% 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
}
/* .nav-item {
  position: relative;
}

.nav-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  bottom: 0;
  z-index: -1;
  background-color: #b82111;
  transition: width ease 0.3s;
}
.nav-item:hover .nav-background {
  width: 100%;
} */
/* end of header */

/* Footer */
.footer-background {
  background-color: #c9c5c7;
}

.footer-background h4 {
  font-family: Eras, sans-serif;
  font-weight: bold;
}

.footerLinks > a {
  color: #d62d1b;
  text-decoration: none;
}
.footerLinks > a:hover {
  color: #b82111;
}
@media (max-width: 991px) {
  .footerLinks {
    padding-left: 200px;
  }
}
@media (max-width: 615px) {
  .footerLinks {
    padding-left: 100px;
  }
}
@media (max-width: 450px) {
  .footerLinks {
    padding-left: 20px;
  }
}

/* end of footer */

/* Index Page */

.active {
  color: blue;
}
.brand-large {
  display: inline-block;
  /* background-color: white; */
  padding: 0 300px 0 0;
  /* margin-top: -px; */
}

.main {
  /* fill all the space */
  flex: 1;
}

.caro-message {
  position: relative;
  top: -80px;
  text-shadow: black 2px 1px 5px;
  color: #f2f2f2;
  font-family: "Eras-bold" "sans-serif";
}
@media (max-width: 767px) {
  .fs-2 {
    font-size: 1.25rem !important;
  }
}

.btn-custom {
  background-color: #d62d1b;
  color: white;
  border-radius: 50px;
  transition: all 0.35s;
}
.btn-custom:hover {
  background-color: #b82111;
  color: white;
}
/* https://www.w3schools.com/css/css3_transitions.asp */
.card-overlay-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all ease 0.4s;
}
.card:hover .card-overlay-text {
  padding-bottom: 70px;
  opacity: 1;
}

.card-img-overlay {
  cursor: pointer;
}
.card-img-overlay .card-title {
  z-index: 1;
  color: white;
  text-shadow: #333333 1px 1px 3px;
}

.metal {
  background: linear-gradient(
    #cccccc,
    #f2f2f2
  ); /* create a gradient background */
  box-shadow: 0 0 10px #666666; /* add a shadow effect */
  padding: 20px; /* add some padding */
  color: #333333; /* set the text color */
}

.image-ani-container {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.image-ani {
  position: absolute;
  left: 100%;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 10s;
  transform: rotateY(0deg);
}

@media (max-width: 450px) {
  .image-ani-container {
    display: none;
  }
}

.image-ani-container:hover .image-ani {
  animation-play-state: paused;
}

/* https://www.demo2s.com/html-css/css-animation-to-move-image-from-left-to-right-and-back.html */
/* #image-ani-1 {
} */
#image-ani-2 {
  animation-delay: 4s;
}
#image-ani-3 {
  animation-delay: 7s;
}

@keyframes run {
  0% {
    left: 100%;
    /* opacity: 0; */
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    left: -200px;
    opacity: 0;
  }
}

/* end of index page */

/* Index Page-end */

/* About Page */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.about-us {
  height: 100vh;
  width: 100%;
  padding: 90px 0;
  font-display:bold;
 
  
}

.aboutBusiness {
  font-weight: bold;
}

#img-gal {
  height: 400px;
  width: 600px;
  max-width: 400px;
}

#img-gal2 {
  height: 400px;
  width: 600px;
  max-width: 400px;
}

.about {
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.text {
  width: 540px;
}


.about-section {
  padding: 50px;
  text-align: center;

/* background-image: linear-gradient(                        <-- OLD CODE COMMENTED OUT TO MAKE NEW CODE - .bg-image-about - WORK
    to bottom,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 1) 90%
  ),
   rgba(255, 255, 255, 1) 90%
),
  url("..\images\metalBackground.jpeg"); /* update the path to your image */
background-position: center;
background-repeat: no-repeat;
 
  
}


.bg-image-about{  /* ADDED FOR BACKGROUND IMAGE */
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
z-index: -1;
opacity: 0.8;
filter: blur(6px);

}

.container {
  padding: 0 16px;
}
span {
  color: #ff0000;
  font-display:bold;
  font-size: 30px;
}
.text p {
  font-size: 25px;
  font-display:bold;
  color:rgb(255, 255, 255);
  line-height: 25px;
  letter-spacing: 1px;
}
.data {
  margin-top: 30px;
}

















/* About Page-end */

/* Products Page */

#search-bar {
  width: 50%;
  max-width: 500px;
}

.btn-search {
  background-color: transparent;
  border: none;
  padding-left: 10px;
  padding-right: 5px;
}

#search-bar:focus {
  border-color: rgb(255, 60, 0);
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

@keyframes underline-slide-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.shop-text {
  position: absolute;
  top: 35%;
  left: 5%;
  transform: translateY(-50%);
  color: rgb(255, 255, 255);
  font-size: 48px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  opacity: 0;
  animation: slide-in 1s forwards;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-50%) translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) translateX(0%);
  }
}

#shop-image {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 1) 90%
    ),
    url("../images/1.jpeg"); /* update the path to your image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.shop-text::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background: linear-gradient(to right, #ffffff, #ffd5d5, #d62d1b);
  animation: underline-slide-in 1s forwards;
  animation-delay: 1s;
}

.product-box h5 {
  text-align: center;
}

.product-box .btn {
  display: block;
  margin: 10px auto;
  width: 50%;
  max-width: 300px;
  background-color: #f03636;
  border-color: red;
}

.product-box .btn:hover {
  background-color: #b82111;
  color: white;
}

.product-box .btn:active {
  background-color: rgb(252, 92, 0);
  border-color: white;
}

.product-box {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.product-box.visible {
  opacity: 1;
  transform: translateY(0);
}

.product-box img {
  max-height: 400px;
  width: auto; /* Maintain aspect ratio */
  object-fit: cover; /* This makes sure the image is resized and cropped to fit the container */
}

/* Products Page-end */

.content-wrapper {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 50vh;
}

.product-info {
  margin-right: 50px;
}

.product-title {
  margin-bottom: 20px;
}

.show-popup-form {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.product-image-wrapper {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border: 0;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.25s ease;
}

.content-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.enquire-btn,
.buy-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.enquire-btn {
  background-color: #f1581c;
  color: #fff;
}

.buy-btn {
  background-color: #f1581c;
  color: #fff;
}

.product-image-wrapper {
  display: flex;
  justify-content: center;
}

.related-products {
  display: flex;
  justify-content: space-between;
}

.related-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.cardb {
  background-color: #f1f1f1;
  width: 300px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.cardb:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardb img {
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.enquire-btn,
.buy-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.enquire-btn {
  background-color: #d62d1b;
  color: #fff;
}

.buy-btn {
  background-color: #cccccc;
  color: #fff;
}

.product-image-wrapper {
  display: flex;
  justify-content: center;
}

.related-products {
  display: flex;
  justify-content: space-evenly;
}

.related-products-heading {
  margin-top: 200px; /* Updated margin to push related products down */
}

.enquire-btn {
  background-color: #d62d1b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s;
  z-index: 9999;
}

.enquiry-form {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px; /* Made the form wider */
}

.enquiry-form h1 {
  margin-top: 0;
  margin-bottom: 15px;
}

.enquiry-form label,
.enquiry-form input,
.enquiry-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.enquiry-form textarea {
  height: 100px;
  resize: none;
}

.enquiry-form button {
  margin-top: 10px;
  border-radius: 3px; /* Added slightly rounded borders */
  width: 48%; /* Evenly spaced buttons */
  padding: 8px 0;
  cursor: pointer;
}

.enquiry-form button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
}

.enquiry-form button[type="submit"]:hover {
  background-color: #0056b3;
}

.enquiry-form button[type="submit"]:active {
  background-color: #004085;
}

.enquiry-form button[type="button"] {
  background-color: #dc3545;
  color: white;
  border: none;
}

.enquiry-form button[type="button"]:hover {
  background-color: #c82333;
}

.enquiry-form button[type="button"]:active {
  background-color: #bd2130;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Products Page-Bolts */

/* Products Page-Bolts-end */

/* Contact Page */

/* Contact Page-end */

/* Services Page */
/* .ser-red {
  background-color: #013a6b;
  background-image: linear-gradient(30deg, grey 50%, red 50%); */
/* min-height: 500px; */
/* } */
#service-background {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 1) 90%
    ),
    url("../images/services/services.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  display: flex;
  align-items: center;
  color: white;
}
@media (max-width: 992px) {
  #service-background {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 1) 90%
      ),
      url("../images/services/services\ copy\ Medium.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40vh;
  }
}
/* Services Page-end */

/* Gallery Page */
header {
  background-image: linear-gradient(to bottom right, #747676, #747676);
  color: #444141;
  padding: 4rem;
  text-align: center;
}

#Gallery {
  color: black;
  font-family: arial;
  text-align: center;
  font-size: 50pt;
  font-weight: bold;
}
#img-gal {
  height: 360px;
  padding: 30px;
}
#Doors {
  color: #444141;
  padding: 4rem;
  text-align: center;
  font-size: 50pt;
  font-weight: bold;
  height: 50px;
}
#Sheds {
  color: #444141;
  padding: 4rem;
  text-align: center;
  font-size: 50pt;
  font-weight: bold;
  height: 50px;
  box-sizing: border-box;
}
#Trailers {
  color: #444141;
  padding: 4rem;
  text-align: center;
  font-size: 50pt;
  font-weight: bold;
  height: 50px;
  box-sizing: border-box;
}
#Random {
  color: #444141;
  padding: 4rem;
  text-align: center;
  font-size: 50pt;
  font-weight: bold;
  height: 50px;
  box-sizing: border-box;
}
/* Gallery Page-end */

/*links page start*/
.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.8;
  filter: blur(4px);
}

.social-media-cards{
  text-align: center;
}
.connectUs {
  text-align: center;
  color: white;
}

.social-media-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardsm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 20px;
  padding: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.cardsm:hover {
  transform: translateY(-10px);
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.3);
}

.cardsm img {
  width: 50px;
  margin-right: 10px;
}

/* General Styles */
body {
  font-family: Arial, sans-serif;
}

.col-md-6 {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

/* Button Styles */
#linksformbtn {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#linksformbtn:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* User Styles */
.username {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.username:hover {
  text-decoration: underline;
}



.Relatecontainer 
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 100px 50px;
	padding: 100px 50px;
}
.Relatecontainer .Relatecard 
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 350px;
	height: 300px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 35px 80px rgba(0,0,0,0.15);
	transition: 0.5s
}
.Relatecontainer .Relatecard:hover 
{
	height: 400px;
}
.Relatecontainer .Relatecard .RelateimgBx
{
	position: absolute;
	top: 20px;
	width: 300px;
	height: 220px;
	background: #333;
	border-radius: 12px;
	overflow: hidden;
	transition: 0.5s;
}
.Relatecontainer .Relatecard:hover .RelateimgBx
{
	top: -100px;
	scale: 0.75;
	box-shadow: 0 15px 45px rgba(0,0,0,0.2);
}
.Relatecontainer .Relatecard .RelateimgBx img 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.Relatecontainer .Relatecard .Relatecontent 
{
	position: absolute;
	top: 252px;
	width: 100%;
	padding: 0 30px;
	height: 35px;
	overflow: hidden;
	text-align: center;
	transition: 0.5s;
}
.Relatecontainer .Relatecard:hover .Relatecontent 
{
	top: 130px;
	height: 250px;
}
.Relatecontainer .Relatecard .Relatecontent h2 
{
	font-size: 1.5em;
	font-weight: 700;
	color: var(--clr);
}
.Relatecontainer .Relatecard .Relatecontent p 
{
	color: #333;
}
.Relatecontainer .Relatecard .Relatecontent a 
{
	position: relative;
	top: 15px;
	display: inline-block;
	padding: 12px 25px;
	background: var(--clr);
	color: #fff;
	font-weight: 500;
	text-decoration: none;
	border-radius: 8px;
}

.RelateimgBx{
  margin-left: 30px;
}
/*links page end*/
