@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@font-face {
  font-family: Eras;
  src: url("../fonts/eras-book.otf") format("opentype");
}
@font-face {
  font-family: Eras;
  font-weight: bold;
  src: url("../fonts/eras-bold.otf") format("opentype");
}

* {
  box-sizing: border-box;
}

html,
body {
  /* use flexbox use entire height */
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: #c9c5c748; */
}
/* header */

.icon {
  width: 100px;
  background-color: red;
}

.header-top {
  color: white;
  background-color: #c9c5c7;
}
.header-top a {
  color: white;
  text-decoration: none;
}
.header-top i {
  font-size: 1.2rem;
  padding: 5px;
}
.header-top a:hover i {
  text-shadow: #d62d1b 0 0 5px;
}

.metal-background {
  position: absolute;
}
/* https://css-tricks.com/css-link-hover-effects/ */
.nav-link {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #d62d1b);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms;
}
.nav-link:hover {
  background-size: 100% 3px;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  background: linear-gradient(to right, white, #d62d1b);
  background-size: 100% 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
}
/* .nav-item {
  position: relative;
}

.nav-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  bottom: 0;
  z-index: -1;
  background-color: #b82111;
  transition: width ease 0.3s;
}
.nav-item:hover .nav-background {
  width: 100%;
} */
/* end of header */

/* Footer */
.footer-background {
  background-color: #c9c5c7;
}

.footer-background h4 {
  font-family: Eras, sans-serif;
  font-weight: bold;
}

.footerLinks > a {
  color: #d62d1b;
  text-decoration: none;
}
.footerLinks > a:hover {
  color: #b82111;
}
@media (max-width: 991px) {
  .footerLinks {
    padding-left: 200px;
  }
}
@media (max-width: 615px) {
  .footerLinks {
    padding-left: 100px;
  }
}
@media (max-width: 450px) {
  .footerLinks {
    padding-left: 20px;
  }
}

/* end of footer */

/* Index Page */

.active {
  color: blue;
}
.brand-large {
  display: inline-block;
  /* background-color: white; */
  padding: 0 300px 0 0;
  /* margin-top: -px; */
}

.main {
  /* fill all the space */
  flex: 1;
}

.caro-message {
  position: relative;
  top: -80px;
  text-shadow: black 2px 1px 5px;
  color: #f2f2f2;
  font-family: "Eras-bold" "sans-serif";
}
@media (max-width: 767px) {
  .fs-2 {
    font-size: 1.25rem !important;
  }
}

.btn-custom {
  background-color: #d62d1b;
  color: white;
  border-radius: 50px;
  transition: all 0.35s;
}
.btn-custom:hover {
  background-color: #b82111;
  color: white;
}
/* https://www.w3schools.com/css/css3_transitions.asp */
.card-overlay-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all ease 0.4s;
}
.card:hover .card-overlay-text {
  padding-bottom: 70px;
  opacity: 1;
}

.card-img-overlay {
  cursor: pointer;
}
.card-img-overlay .card-title {
  z-index: 1;
  color: white;
  text-shadow: #333333 1px 1px 3px;
}

.metal {
  background: linear-gradient(
    #cccccc,
    #f2f2f2
  ); /* create a gradient background */
  box-shadow: 0 0 10px #666666; /* add a shadow effect */
  padding: 20px; /* add some padding */
  color: #333333; /* set the text color */
}

.image-ani-container {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.image-ani {
  position: absolute;
  left: -200px;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 8s;
  transform: rotateY(0deg);
}

.image-ani-container:hover .image-ani {
  animation-play-state: paused;
}

/* https://www.demo2s.com/html-css/css-animation-to-move-image-from-left-to-right-and-back.html */
/* #image-ani-1 {
} */
#image-ani-2 {
  animation-delay: 3s;
}
#image-ani-3 {
  animation-delay: 5s;
}

@keyframes run {
  0% {
    left: -200px;
    /* opacity: 0; */
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}

/* end of index page */

/* Index Page-end */

/* About Page */

/* About Page-end */

/* Products Page */

#search-bar {
  width: 50%;
  max-width: 500px;
}

.btn-search {
  background-color: transparent;
  border: none;
  padding-left: 10px;
  padding-right: 5px;
}

#search-bar:focus {
  border-color: rgb(255, 60, 0);
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

@keyframes underline-slide-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.shop-text {
  position: absolute;
  top: 35%;
  left: 5%;
  transform: translateY(-50%);
  color: rgb(255, 255, 255);
  font-size: 48px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  opacity: 0;
  animation: slide-in 1s forwards;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-50%) translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) translateX(0%);
  }
}

#shop-image {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 1) 90%
    ),
    url("../images/1.jpeg"); /* update the path to your image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.shop-text::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background: linear-gradient(to right, #ffffff, #ffd5d5, #d62d1b);
  animation: underline-slide-in 1s forwards;
  animation-delay: 1s;
}

.product-box h5 {
  text-align: center;
}

.product-box .btn {
  display: block;
  margin: 10px auto;
  width: 50%;
  max-width: 300px;
  background-color: #f03636;
  border-color: red;
}

.product-box .btn:hover {
  background-color: #b82111;
  color: white;
}

.product-box .btn:active {
  background-color: rgb(252, 92, 0);
  border-color: white;
}

.product-box {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.product-box.visible {
  opacity: 1;
  transform: translateY(0);
}

.product-box img {
  max-height: 400px;
  width: auto; /* Maintain aspect ratio */
  object-fit: cover; /* This makes sure the image is resized and cropped to fit the container */
}

/* Products Page-end */

/* Products Page-Bolts */

.product-detail-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.product-info {
  width: -50%;
  margin-left: 500px;
}

.product-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.product-image-container {
  position: relative;
  width: 20%;
  height: 400px;
  overflow: hidden;
  margin-right: 500px;
}

.product-image {
  width: 100%;
  height: auto;
  border: 2px solid #dadada; /* Add a border to the image */
  border-radius: 5px;
}

.zoomed-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300%;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.zoomed-image-wrapper {
  position: absolute;
  top: 0%; /* Adjust this value to move the zoomed area vertically */
  left: 0%; /* Adjust this value to move the zoomed area horizontally */
  width: 100%; /* Adjust this value to control the width of the zoomed area */
  height: 100%; /* Adjust this value to control the height of the zoomed area */
  overflow: hidden;
  z-index: 1;
  border-radius: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Products Page-Bolts-end */

/* Contact Page */

/* Contact Page-end */

/* Services Page */
.ser-red {
  background-color: #013a6b;
  background-image: linear-gradient(30deg, grey 50%, red 50%);
  /* min-height: 500px; */
}

/* Services Page-end */

/* Gallery Page */

/* Gallery Page-end */
